on:
  push:
    branches:
      - master


jobs:
  build:
    runs-on: windows-latest


    steps:
      - name : 'Printing folder contents'
        run: ls

      - uses: actions/checkout@v3
      
      - name : 'Printing folder contents by use function'
        run: ls
