on:
  push:
    branches:
      - master


jobs:
  build:
    runs-on: windows-latest


    steps:
      - name : 'Testing Github action'
        run: echo %cd%
      
      - name : 'Testing Printing'
        run: echo Mohamed
